body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 20px;
}

.course-text {
  height: 120px;
  word-wrap: break-word;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}